<%- include("../includes/header.ejs")%>
</head>
<body>
    <%- include("../includes/side-navigation.ejs")%>
    <main class="wrapper">
        <section class="admin">
            <h2 class="page-title"><a class="btn btn-back" href="/admin"><i class='bx bx-arrow-back'></i></a> Admin Panel</h2>
                <table class="admin-table">
                    <div class="admin-controls">
                        <a class="badge badge-blue" href="/admin">All Tasks</a>
                        <a class="badge badge-orange" href="/admin/active-tasks">Active</a>
                        <a class="badge badge-red" href="/admin/hold-tasks">On Hold</a>
                        <a class="badge badge-grey" href="/admin/review-tasks">Needs Review</a>
                        <a class="badge badge-green" href="/admin/completed-tasks">Completed</a>
                    </div>
                    <tr>
                        <th>Date</th>
                        <th>Title</th>
                        <th>Submitted By</th>
                        <th>Assigned To</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    <% for(let task of tasks) {%>
                    <tr>
                        <td><%= task.createdAt %></td>
                        <td><%= task._doc.title %></td>
                        <td><%= task._doc.createdBy.username %></td>
                        <% if(!task._doc.assignedTo.userId) { %>
                            <td><span class="badge badge-grey">Not Assigned</span></td>
                        <% } else { %>
                            <td><%= task._doc.assignedTo.username %></td>
                        <% } %>

                        <% if(task._doc.status === "pending") { %>
                            <td><span class="badge badge-grey">Pending</span></td>
                        <% } else if(task._doc.status === "active") { %>
                            <td><span class="badge badge-orange">Active</span></td>
                        <% } else if(task._doc.status === "hold") { %>
                            <td><span class="badge badge-red">On Hold</span></td>
                        <% } else if(task._doc.status === "complete") { %>
                            <td><span class="badge badge-green">Complete</span></td>
                        <% } else if(task._doc.status === "reviewing") {%>
                            <td><span class="badge badge-blue">Needs Review</span></td>
                        <% } %>
                        <td><a class="admin-link" href="/admin/admin-edit/<%= task._doc._id %>">View</a></td>
                    </tr>
                    <% } %>
                </table>
        </section>
    </main>
<%- include("../includes/footer.ejs")%>`