<%- include("../includes/header.ejs")%>
</head>
<body>
    <%- include("../includes/side-navigation.ejs")%>
    <main class="wrapper">
        <section class="container">
          <% if(errorMessage) { %>
            <div class="invalid"><%= errorMessage %></div>
          <% } %>
            <% if(task._doc.status === "pending") { %> 
                <h2 class="page-title"><a class="btn btn-back" href="/task/<%= task._doc._id %>"><i class='bx bx-arrow-back'></i></a>Assign Task</h2>
                <div class="task-detail">
                    <p class="task-submission">Submitted by <%= task._doc.createdBy.username %> on <%= task.createdAt %></p>
                    <h3 class="task-title"><%= task._doc.title %></h3>
                    <p class="task-description"><%= task._doc.description %></p>
                    <div class="task-images">
                        <img src="https://wtwp.com/wp-content/uploads/2015/06/placeholder-image.png" alt="">
                        <img src="https://wtwp.com/wp-content/uploads/2015/06/placeholder-image.png" alt="">
                        <img src="https://wtwp.com/wp-content/uploads/2015/06/placeholder-image.png" alt="">
                    </div>
                    <form action="/assign-task" method="POST">
                        <div class="form-control">
                            <label for="priority">Assign Priority</label>
                            <select name="priority">
                                <option value="critical">Critical</option>
                                <option value="important">Important</option>
                                <option value="normal" >Normal</option>
                                <option value="low" >Low</option>
                            </select>
                        </div>
                        <div class="form-control">
                            <label for="user">Assign to</label>
                            <select name="userInfo">
                                <% for(let user of users) {%>
                                    <option value="<%= user.username %>+<%= user._id %>" for="userInfo"><%= user.username %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="form-control">
                            <input type="hidden" value="<%= task._doc._id %>" name="id">
                            <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                            <button class="btn" type="submit">Assign Task</button>
                        </div>
                    </form>
                </div>
            <% } else { %>
                <div class="task-detail">
                    <p class="task-submission">Submitted by <%= task._doc.createdBy.username %> on <%= task.createdAt %></p>
                    <h3 class="task-title"><%= task._doc.title %></h3>
                    <p class="task-description"><%= task._doc.description %></p>
                    <div class="task-images">
                        <img src="https://wtwp.com/wp-content/uploads/2015/06/placeholder-image.png" alt="">
                        <img src="https://wtwp.com/wp-content/uploads/2015/06/placeholder-image.png" alt="">
                        <img src="https://wtwp.com/wp-content/uploads/2015/06/placeholder-image.png" alt="">
                    </div>
                        <% if(task._doc.status === "active") { %>
                            <form action="/task/set-on-hold" method="POST">
                                <input type="hidden" value="<%= task._doc._id %>" name="id">
                                <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                                <button class="btn" type="submit">Set To Hold</button>
                            </form>
                        <% } else if (task._doc.status === "hold") {%>
                            <form action="/task/set-active" method="POST">
                                <input type="hidden" value="<%= task._doc._id %>" name="id">
                                <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                                <button class="btn" type="submit">Set To Active</button>
                            </form>
                        <% } else if(task._doc.status === "reviewing") { %>
                            <form action="/task/complete-task" method="POST">
                                <input type="hidden" value="<%= task._doc._id %>" name="id">
                                <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                                <button class="btn" type="submit">Mark Completed</button>
                            </form>
                        <% } %>
                    <form action="/assign-task" method="POST">
                        <div class="form-control">
                            <label for="priority">Assign Priority</label>
                            <select name="priority">
                              <% if(task._doc.priority === 'critical') { %>
                                <option selected value="critical">Critical</option>
                                <option value="important">Important</option>
                                <option value="normal" >Normal</option>
                                <option value="low" >Low</option>
                              <% } else if(task._doc.priority === 'important') { %>
                                <option value="critical">Critical</option>
                                <option selected value="important">Important</option>
                                <option value="normal" >Normal</option>
                                <option value="low" >Low</option>
                              <% } else if(task._doc.priority === 'normal') {%>
                                <option value="critical">Critical</option>
                                <option value="important">Important</option>
                                <option selected value="normal" >Normal</option>
                                <option value="low" >Low</option>
                              <% } else if(task._doc.priority === 'low') { %>
                                <option value="critical">Critical</option>
                                <option value="important">Important</option>
                                <option value="normal" >Normal</option>
                                <option selected value="low" >Low</option>
                              <% } %>
                            </select>
                        </div>
                        <div class="form-control">
                            <label for="user">Assign to</label>
                            <select name="userInfo">
                                <% for(let user of users) {%>
                                  <% if(task._doc.assignedTo.userId.toString() === user._id.toString()) { %>
                                    <option default value="<%= user.username %>+<%= user._id %>" for="userInfo"><%= user.username %></option>
                                  <% } else { %>
                                    <option value="<%= user.username %>+<%= user._id %>" for="userInfo"><%= user.username %></option>
                                  <% } %>
                                <% } %>
                            </select>
                        </div>
                        <div class="form-control">
                            <input type="hidden" value="<%= task._doc._id %>" name="id">
                            <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                            <button class="btn" type="submit">Edit Task</button>
                        </div>
                    </form>
                </div>
                <% } %>
        </section>
    </main>
<%- include("../includes/footer.ejs")%>