<%- include("../includes/header.ejs")%>
</head>
<body>
    <%- include("../includes/navigation.ejs")%>
    <%- include("../includes/side-navigation.ejs")%>
    <main class="wrapper">

        <section class="container dashboard dashboard__small">
            <h2 class="dashboard__title">Dashboard</h2>
            <h1 class="dashboard__greeting">Hello, <%= user.username %></h1>
            <div class="dashboard__feed">
                <div class="card__ticket">
                    <div class="card__ticket-header">
                        <h3 class="card__ticket-title">My Tickets</h3>
                    </div>
                    <div class="card__tickets">
                        <ul class="tickets">
                            <% if(myTicketCount <= 0) {%>
                                <p class="error__not-found">You currently have no tickets</p>
                            <% }  else { %>
                                <% for(let ticket of tickets) {%>
                                    <% if(ticket.userId === user._id) { %>
                                        <li class="ticket">
                                            <div class="ticket__status"></div>
                                            <div class="ticket__info">
                                                <h4 class="ticket__info-title"><%= ticket._doc.title %></h4>
                                                <p class="ticket__info-date"><%= ticket.createdAt %></p>
                                            </div>
                                        </li>
                                    <% } %>
                                <% } %>
                            <% } %>
                        </ul>
                    </div>
                    <div class="card__ticket-footer">
                        <a href="/my-tickets" class="card__ticket-link">View My Tickets</a>
                    </div>
                </div>

                <div class="card__ticket">
                    <div class="card__ticket-header">
                        <h3 class="card__ticket-title">All Tickets</h3>
                    </div>
                    <div class="card__tickets">
                        <ul class="tickets">
                            <% if(tickets.length <= 0) { %>
                                <p class="error__not-found">There are currently no tickets</p>
                            <% } else { %>
                                <% for(let ticket of tickets) {%>
                                    <li class="ticket">
                                        <div class="ticket__status"></div>
                                        <div class="ticket__info">
                                            <h4 class="ticket__info-title"><%= ticket._doc.title %></h4>
                                            <p class="ticket__info-date"><%= ticket.createdAt %></p>
                                        </div>
                                    </li>
                                <% } %>
                            <% } %>
                        </ul>
                    </div>
                    <div class="card__ticket-footer">
                        <a href="/all-tickets" class="card__ticket-link">View All Tickets</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
<%- include("../includes/footer.ejs")%>