<%- include("../includes/header.ejs")%>
</head>
<body>
    <%- include("../includes/side-navigation.ejs")%>
    <main class="wrapper">

        <section class="container dashboard">
            <h2 class="dashboard-title">Dashboard</h2>
            <i id="mobileNav" class='bx bx-menu hamburger'></i>
            <h1 class="dashboard-greeting">Hello, <%= user.username %></h1>
            <div class="breakdown">
                <div class="task-block block-all">
                    <h3>Tasks</h3>
                    <p><%= tasks.length %></p>
                </div>
                <div class="task-block block-active">
                    <h3>Active</h3>
                    <p><%= activeTasks %></p>
                </div>
                <div class="task-block block-hold">
                    <h3>On Hold</h3>
                    <p><%= onHoldTasks %></p>
                </div>
                <div class="task-block block-complete">
                    <h3>Completed</h3>
                    <p><%= completedTasks %></p>
                </div>
            </div>
            <canvas class="chart" id="myChart" width="200" height="100"></canvas>
        </section>
    </main>
<%- include("../includes/footer.ejs")%>