<%- include("../includes/header.ejs")%>
</head>

<body>
    <%- include("../includes/navigation.ejs")%>
    <%- include("../includes/side-navigation.ejs")%>
    <main class="wrapper">
        <section class="container">
            <div class="ticket__detail">
                <h1 class="ticket__detail-title"><%= ticket._doc.title %></h1>
                <div class="ticket__detail-info">
                    <h3 class="ticket__detail-date"><%= ticket.createdAt %></h3>
                    <div class="ticket__detail-severity">
                        <p><%= ticket._doc.severity %></p>
                    </div>
                </div>
                <p class="ticket__detail-description"><%= ticket._doc.description %></p>
                <div>
                    Photos...
                </div>
                <div class="ticket__detail-btns">
                    <% if(isAdmin) { %>
                        <a href="/edit-ticket/<%= ticket._doc._id %>"class="btn btn__edit">Edit</a>
                    <% } %>
                    <% if(!ticket._doc.completed) {%>
                        <form action="/complete-ticket" method="POST">
                            <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                            <input type="hidden" value="<%= ticket._doc._id %>" name="id">
                            <button class="btn btn__complete" type="submit">Complete</button>
                        </form>
                    <% } %>
                </div>
            </div>
        </section>
    </main>
    <%- include("../includes/footer.ejs")%>