<%- include("../includes/header.ejs")%>
</head>

<body>
    <%- include("../includes/side-navigation.ejs")%>
    <main class="wrapper">
        <section class="container">
            <h2 class="page-title"><a class="btn btn-back" href="/tasks"><i class='bx bx-arrow-back'></i></a> View Task</h2>
            <div class="task-detail">
                <div class="task-header">
                    <h1 class="task-title"><%= task._doc.title %></h1>
                    <div class="task-severity">
                        <% if(task._doc.severity === 'urgent') { %>
                            <span class="badge badge-urgent"><%= task._doc.severity %></span>
                        <% } else if(task._doc.severity === 'moderate') { %>
                                <span class="badge badge-moderate"><%= task._doc.severity %></span>
                        <% } else if (task._doc.severity === 'minor') { %>
                            <span class="badge badge-minor"><%= task._doc.severity %></span>
                        <% } else { %>
                            <span class="badge"><%= task._doc.severity %></span>
                        <% } %>
                    </div>
                </div>
                <h3 class="task-date"><%= task.createdAt %></h3>

                <p class="task-description"><%= task._doc.description %></p>
                <div class="task-images">
                    <img src="https://wtwp.com/wp-content/uploads/2015/06/placeholder-image.png" alt="">
                    <img src="https://wtwp.com/wp-content/uploads/2015/06/placeholder-image.png" alt="">
                    <img src="https://wtwp.com/wp-content/uploads/2015/06/placeholder-image.png" alt="">
                </div>
                <div class="task-btns">
                    <% if(isAdmin || isAuthenticated) { %>
                            <% if(!task._doc.isCompleted) { %>
                                <a href="/edit-task/<%= task._doc._id %>"class="btn">Edit</a>
                            <% if(task._doc.assignedTo && !task._doc.isOnHold) { %>
                                <form action="/task/set-on-hold" method="POST">
                                    <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                                    <input type="hidden" value="<%= task._doc._id %>" name="id">
                                    <button type="submit" class="btn">Put On Hold</button>
                                </form>
                            <% } else {%>
                                <form action="/task/set-in-progress" method="POST">
                                    <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                                    <input type="hidden" value="<%= task._doc._id %>" name="id">
                                    <button type="submit" class="btn">Set In Progress</button>
                                </form>
                            <% } %>
                            <% if(!task._doc.isOnHold) {%>
                                <form action="/task/submit-for-review" method="POST">
                                    <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                                    <input type="hidden" value="<%= task._doc._id %>" name="id">
                                    <button type="submit" class="btn">Submit For Review</button>
                                </form>
                            <% } %>
                        <% } %>
                    <% } %>
                </div>
            </div>
        </section>
    </main>
    <%- include("../includes/footer.ejs")%>