<%- include("../includes/header.ejs")%>
</head>

<body>
    <%- include("../includes/side-navigation.ejs")%>
    <main class="wrapper">
        <section class="container">
            <h2 class="page-title"><a class="btn btn-back" href="/tasks"><i class='bx bx-arrow-back'></i></a> View Task</h2>
            <i id="mobileNav" class='bx bx-menu hamburger'></i>
            <div class="task-detail">
                <% if(task._doc.createdBy.userId.toString() === user._id.toString()) { %>
                    <a class="btn-mobile" href="/edit-task/<%= task._doc._id %>"><i class='bx bx-edit'></i></a>
                    <a class="btn btn-desktop" href="/edit-task/<%= task._doc._id %>">Edit Task</a>
                <% } %>
                <div class="task-header">
                    <h2 class="task-title"><%= task._doc.title %></h2>
                    <div class="task-priority">
                        <% if(task._doc.priority === 'critical') { %>
                            <span class="badge badge-red"><%= task._doc.priority %></span>
                        <% } else if(task._doc.priority === 'important') { %>
                            <span class="badge badge-orange"><%= task._doc.priority %></span>
                        <% } else if(task._doc.priority === 'normal') { %>
                            <span class="badge badge-green"><%= task._doc.priority %></span>
                        <% } else if (task._doc.priority === 'low') { %>
                            <span class="badge badge-blue"><%= task._doc.priority %></span>
                        <% } else { %>
                            <span class="badge"><%= task._doc.priority %></span>
                        <% } %>
                    </div>
                </div>
                <h3 class="task-date"><%= task.createdAt %></h3>
                <div class="task-images">
                    <img src="https://wtwp.com/wp-content/uploads/2015/06/placeholder-image.png" alt="">
                    <img src="https://wtwp.com/wp-content/uploads/2015/06/placeholder-image.png" alt="">
                    <img src="https://wtwp.com/wp-content/uploads/2015/06/placeholder-image.png" alt="">
                </div>
                <p class="task-description"><%= task._doc.description %></p>

                <div class="task-btns">
                    <% if(isAuthenticated) { %>
                        <% if(task._doc.status === "active") { %>
                            <form action="/task/set-on-hold" method="POST">
                                <input type="hidden" value="<%= task._doc._id %>" name="id">
                                <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                                <button class="btn" type="submit">Set To Hold</button>
                            </form>
                            <% if(task._doc.status !== "reviewing") { %>
                                <form action="/task/submit-for-review" method="POST">
                                    <input type="hidden" value="<%= task._doc._id %>" name="id">
                                    <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                                    <button class="btn" type="submit">Submit For Review</button>
                                </form>
                            <% } %>
                        <% } else if (task._doc.status === "hold") {%>
                            <form action="/task/set-active" method="POST">
                                <input type="hidden" value="<%= task._doc._id %>" name="id">
                                <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                                <button class="btn" type="submit">Set To Active</button>
                            </form>
                        <% } %>
                    <% } %>
                </div>
                <form action="/post-comment" method="POST">
                    <div class="form-control">
                        <label for="comment">Leave A Comment</label>
                        <input type="text" name="comment">
                        <input type="hidden" value="<%= task._doc._id %>" name="id">
                        <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                        <button class="btn" type="submit">Post Comment</button>
                    </div>
                </form>
                <div class="comments">
                    <% if(comments.length > 0) { %>
                        <% for(let comment of comments) { %>
                            <% if(comment._doc.createdBy.userId.toString() === user._id.toString()) { %>
                                <div class="comment">
                                    <h3 class="comment-header"><%= comment._doc.createdBy.username %><span class="current-user"> (You)</span></h3>
                                    <p class="comment-body"><%= comment._doc.comment %></p>
                                    <p class="comment-date"><%= comment.createdAt %></p>
                                </div>
                            <% } else { %>
                                <div class="comment comment-right">
                                    <h3 class="comment-header"><%= comment._doc.createdBy.username %></h3>
                                    <p class="comment-body"><%= comment._doc.comment %></p>
                                    <p class="comment-date"><%= comment.createdAt %></p>
                                </div>
                            <% } %>
                        <% } %>    
                    <% } else { %>
                        <p>No comments yet...</p>
                    <% } %>
                </div>
            </div>
        </section>
    </main>
    <%- include("../includes/footer.ejs")%>